<h1>binj.it</h1>
<p class="description">The weekly guide of the best ways to waste your time.</p>
<%= form_for @user, class: "signupForm" do |f| %>
  <div id="input-wrapper">
    <%= f.text_field :email, placeholder: "email address" %>
    <%# f.text_field :password, placeholder: "password" %>
  </div>
  <%= f.submit "Give me emails!" %>
<% end %>

<% if flash[:notice] %>
  <%= content_tag('div', flash[:notice], class: "notice--#{flash[:color]}") %>
<% end %>

<% if @user.errors.any? %>
  <ul class="signup-errors">
  <% for message_error in @user.errors.full_messages %>
    <li><%= message_error %></li>
  <% end %>
  </ul>
<% end %>

<% content_for :right_column do %>
  <div class="feature">
    <h2>Tired of having too much Netflix to watch?</h2>
  </div>
  <div class="feature">
    <h2>Are there too many awesome games out there?</h2>
  </div>
  <div class="feature">
    <h2>Don't cry like a teeny, tiny baby!</h2>
  </div>
  <div class="feature">
    <h2>Get a weekly guide right in your inbox.</h2>
  </div>
  <div class="feature">
    <h2>Start being happy, dummy!</h2>
  </div>
  <div class="feature">
  </div>
<% end %>
